{% if ci_platform == 'gitlab' -%}
{%- set module = gitlab_url ~ '/' ~ project_name ~ '/src/' ~ tool_name -%}
{%- else -%}
{%- set module = 'github.com/' ~ (github_registry | replace('ghcr.io/', '')) ~ '/src/' ~ tool_name -%}
{%- endif -%}
package main

import "{{ module }}/cmd"

func main() {
	cmd.Execute()
}
