{% if ci_platform == 'gitlab' -%}
module {{ gitlab_url }}/{{ project_name }}/src/{{ tool_name }}
{%- else -%}
module github.com/{{ github_registry | replace('ghcr.io/', '') }}/src/{{ tool_name }}
{%- endif %}

go 1.23

require (
	github.com/spf13/cobra v1.8.1
	github.com/spf13/viper v1.19.0
)
