{% if ci_platform == 'gitlab' -%}
{%- set module = gitlab_url ~ '/' ~ project_name ~ '/src/' ~ tool_name -%}
{%- else -%}
{%- set module = 'github.com/' ~ (github_registry | replace('ghcr.io/', '')) ~ '/src/' ~ tool_name -%}
{%- endif -%}
package cmd

import (
	"os"

	"github.com/spf13/cobra"

	"{{ module }}/version"
)

var versionCmd = &cobra.Command{
	Use:   "version",
	Short: "Print version information",
	Long:  `Print the version, commit hash, and build date of {{ tool_name }}.`,
	Run: func(cmd *cobra.Command, args []string) {
		fprintLine(os.Stdout, accentStyle.Render("{{ tool_name }}"), version.Version)
		fprintLine(os.Stdout, labelStyle.Render("  Commit:"), version.Commit)
		fprintLine(os.Stdout, labelStyle.Render("  Built: "), version.BuildDate)
	},
}

func init() {
	rootCmd.AddCommand(versionCmd)
}
