package cmd

import (
	"os"

	"charm.land/lipgloss/v2"
	"github.com/spf13/cobra"
{% if ci_platform == 'gitlab' -%}
	"{{ gitlab_url }}/{{ project_name }}/src/{{ tool_name }}/version"
{%- else -%}
	"github.com/{{ github_registry | replace('ghcr.io/', '') }}/src/{{ tool_name }}/version"
{%- endif %}
)

var versionCmd = &cobra.Command{
	Use:   "version",
	Short: "Print version information",
	Long:  `Print the version, commit hash, and build date of {{ tool_name }}.`,
	Run: func(cmd *cobra.Command, args []string) {
		lipgloss.Fprintln(os.Stdout, accentStyle.Render("{{ tool_name }}"), version.Version)
		lipgloss.Fprintln(os.Stdout, labelStyle.Render("  Commit:"), version.Commit)
		lipgloss.Fprintln(os.Stdout, labelStyle.Render("  Built: "), version.BuildDate)
	},
}

func init() {
	rootCmd.AddCommand(versionCmd)
}
